/* tags.css -> tag, mark as read, and TBR buttons on R & Ur Books pages*/
.tags {
    display: flex;
    align-items: center;
    margin-top: 60px;
  }
  
.tag-button {
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    cursor: pointer;
    color: white;
    font-size: 13.5px;
  }
  
.lg-button {
    border: none;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 55px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
  }

.tag-color-1 {
    background-color: #661c78;
  }
  
.tag-color-2 {
    background-color: #9e4dab;
  }
  
.tag-color-3 {
    background-color: #E35205;
  }
  
.tag-color-4 {
    background-color: #ED8B00;
  }
  


/* BaseShade.css -> colored lines at bottom of book pages */
.container {
    position: fixed;
    bottom: 0;
    width: 100% ;
  }
  
.green-line {
    height: 25px;
    background-color: #00B2A9;
  }
  
.yellow-line {
    height: 5px; /* Adjust the thickness of the yellow line */
    background-color: #FFFAA0;
  }
  
  /* separator.css */
.separator-style {
    border-top: 4.15px solid #00B2A9;
    width: 90%;
    margin: 0cm 1cm 0.25cm 1cm;
    border-radius: 1rem;
    position: relative;
  }
  
.inner-separator-style {
    border-top: 1px solid #9e4dab;
    width: 99.9%;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* pgHeader.css -> holds the back button and label for Book Details*/
.header-container {
    display: flex;
    align-items: center;
  }
  
.back-button {
    background-color: #FF5733;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    margin-left: 1.3cm;
  }
  
.book-details {
    margin-left: 0.8cm;
  }
  
.arrow {
    font-size: 24px;
  }
  
  /* Reduce the margin between Book Details and (Unread Book) */
.book-details span {
    margin: 0; 
    padding: 0;
  }

  
  /* bookInfo.css -> allows for the cover image and captures tags and book info*/
.bookInfoContainer {
    display: flex;
    align-items: center;
}

.coverImage img {
    width: 420px;
    height: 370px;
    margin: 20px 90px;
}

.coverImageRd img {
    width: 325px;
    height: 420px;
    margin: 20px 90px;
}

.bookInfoStyle {
    border: 1px solid #000;
    width: 575px;
    height: 390px;
    padding: 20px;
    margin-left: 10px;
    border-radius: 20px;
}




/* reviewButtons.css on Read books page */
.button-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.review-button {
    margin: 0 10px; /* Adjust the spacing between buttons */
    border: none;
    width: 150px;
    height: 30px;
    font-size: 14.5px;
    border-radius: 15px; /* Rounded corners */
}


.action-packed-button {
    background-color: #661c78; /* Set your desired background color */
    color: white; /* Text color */
    border: none;
   
}

.cool-characters-button {
    background-color: #9e4dab; /* Set your desired background color */
    color: white; /* Text color */
    border: none;
   
}

.made-me-laugh-button {
    background-color: #E35205; /* Set your desired background color */
    color: white; /* Text color */
    border: none;
   
}

/* Submit & Cancel buttons on Read Books page*/
.large-button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center;
    margin-top: 30px; /* Adjust the top margin as needed */
}

.submit-button,
.cancel-button {
    
    color: white; /* Text color */
    border: none;
    width: 150px;
    height: 40px; /* Adjust the height as needed */
    font-size: 16px; /* Adjust the font size as needed */
    margin: 0 10px; /* Adjust the spacing between buttons */
    border-radius: 5px; /* Add rounded edges */
    font-weight: bold;
}

/* Add a CSS class for the favorite button */
.favorite-button {
    position: absolute;
    top: 42px; /* Adjust the vertical position */
    right: 234px; /* Adjust the horizontal position */
    background-color: white;
    border: none;
    border-radius: 70%;
    width: 40px;
    height: 40px;
    line-height: 1;
    font-size: 32px;
    color: white;
    cursor: pointer;
    z-index: 1; /* Place the button above other content */
    display: flex; /* Center content horizontally and vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* clicked state of the favorite button */
.favorite-button-clicked {
    color: red;
    background-color: white;
    border: none;
    text-shadow: none;
    font-size: 40px;
}

/* Read Book star rating */
.star-rating {
    font-size: 24px;
  }
  
  .star {
    display: inline-block;
    cursor: pointer;
    color: #ccc;
  }
  
  .star.selected {
    color: #ffcc00; /* Color for selected stars */
  }
  