
.profile-label {
    margin-top: 10px; 
}

/* Profile details container*/
.profile-info-container {
    border: 2px solid #661c78; 
    padding: 20px; 
    background-color: #d1f1f3; 
    margin-top: 10px; 
    border-radius: 10px; /* Add rounded edges */
    width: 600px;
    height: 650px;
  }


  /* Badges container*/
.badge-info-container {
    border: 2px solid #661c78; 
    padding: 20px; 
    background-color: #d1f1f3; 
    margin-top: 100px; 
    border-radius: 10px; /* Add rounded edges */
    width: 600px;
    height: 450px;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center; 
    
  }


  .badge-label {
    margin-top: 10px; 
    margin-bottom: 10px;
}


  /* separator (colored line) detail */
.separator-container {
    display: flex;
    justify-content: center; /* Horizontally center content */
  }
  
  
  .separator-style-p1 {
    border-top: 1px solid #E35205;
    margin: 2px 1px 10px 1px;
    border-radius: 1rem;
    position: relative;
    width: 100%;
  }

  .separator-style-p2 {
    border-top: 1px solid #E35205;
    margin: 35px 1px 20px 1px;
    border-radius: 1rem;
    position: relative;
    width: 100%;
  }

  .separator-style-p3 {
    border-top: 1px solid #E35205;
    margin: 10px 1px 10px 1px;
    border-radius: 1rem;
    position: relative;
    width: 100vw;
  }

  .separator-style-p4 {
    border-top: 1px solid #E35205;
    margin: 45px 1px 20px 1px;
    border-radius: 1rem;
    position: relative;
    width: 100vw;
  }

/* Styles for labels and values for student detail*/
.profile-field-label-name {
    font-size: 26px;
    font-weight: bold;
    color: #00B2A9; 
    margin: 0px 1px 0px 1px;

}

.profile-field-name {
    margin: 3px 1px 0px 1px;

}

.profile-field-fName {
    font-size: 24px;
    margin: 0px 1px 0px 1px;
    font-weight: 500;
}

.profile-field-label-pName {
    font-size: 18px;
    font-weight: bold;
    color: #00B2A9; 
    margin: 2px 1px 0px 1px;

}

.profile-field-pName {
    font-size: 18px;
    margin: 2px 1px 0px 1px;

}

.profile-field-label-pronoun {
    font-size: 18px;
    font-weight: bold;
    color: #00B2A9; 
    margin: 0px 1px 6px 1px;

}

.profile-field-pronoun {
    font-size: 18px;
    margin: 2px 1px 0px 1px;

}

.profile-field-label-school {
    font-size: 18px;
    font-weight: bold;
    color: #00B2A9; 
    margin: 18px 1px 0px 1px;

}

.profile-field-school {
    font-size: 18px;
    margin: 17px 1px 0px 1px;

}

.profile-field-label-grade{
    font-size: 18px;
    font-weight: bold;
    color: #00B2A9; 
    margin: 3px 1px 6px 1px;

}

.profile-field-grade {
    font-size: 18px;
    margin: 3px 1px 0px 1px;

}

.profile-field-label-birthday {
    font-size: 18px;
    font-weight: bold;
    color: #00B2A9; 
    margin: 3px 1px 6px 1px;

}

.profile-field-birthday {
    font-size: 18px;
    margin: 7px 1px 0px 1px;

}

/*Adjust detail of the profile image*/
.profile-image {
    width: 160px;
    height: 160px;
}

.save-image-button {
    background-color: #00B2A9;
    border: 1px ;
    color: #FFFF;
    border: 1px ; 
    padding: 2px 2px; 
    margin: 0px 1px 6px 188px;
    height: 30px;
    width: 110px;
    border-radius: 5px;
    font-weight: bold;
    
}

.choose-file-button {
    padding: 0px;
    border-radius: 2px;
    
    
}

.edit-profile-button {
    background-color: #E35205;
    border: 1px ;
    color: #FFFF;
    border: 1px ; 
    padding: 2px 2px; 
    margin: 0px 1px 6px 10px;
    height: 30px;
    width: 110px;
    border-radius: 5px;
    font-weight: bold;
    
    
}

.profile-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    overflow-x: auto; 
}

.fantasy-badge {
    width: 80px; 
    height: 80px; 
    clip-path: polygon(
        calc(100% - 12%) 0, 100% 10%,
        calc(100% - 10%) 20%, 100% 30%,
        calc(100% - 5%) 40%, 100% 50%,
        calc(100% - 10%) 60%, 95% 70%,
        calc(100% - 1%) 80%, 90% 90%,
        calc(100% - 4%) 100%, 0 100%,
        0 0
    );
}

.fantasy-badge-label {
    color:#661c78;
    font-weight: 600;
}

.nonFic-badge {
    width: 80px; 
    height: 80px; 
    font-weight: 600;
}

.nonFic-badge-label {
    color:#661c78;
    font-weight: 600;
}

.star-badge {
    width: 80px; 
    height: 80px; 
}

.star-badge-label {
    color:#661c78; 
    font-weight: 600;
}

.profile-text-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}