
  
 /* Bottom colored lines */  
.bottom-line2-RB {
    height: 25px;
    background-color: #00B2A9;
  }
  
.bottom-line1-RB {
    height: 2px; 
    background-color: #ED8B00;
  }
  
  /* Top colored lines */
.separator-style-RB {
    border-top: 4.15px solid #00B2A9;
    width: 90%;
    margin: 0cm 1cm 0.25cm 1cm;
    border-radius: 1rem; /*rounded corners on line(s)*/
    position: relative;
  }
  
.inner-separator-style-RB {
    border-top: 1px solid #9e4dab;
    width: 99.9%;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* holds the back button and label for Book Details*/
.header-container-RB {
    display: flex;
    align-items: center;
  }
  
  /* is the back button */
.back-button-RB {
    background-color: #FF5733;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    margin-left: 1.3cm;
  }
  
.book-details-RB {
    margin-left: 0.8cm;
  }
  
.arrow-RB {
    font-size: 40px;
  }
  
  /* Reduce the margin between Book Details and cover */
.book-details-RB span {
    margin: 0; 
    padding: 0;
  }

  .book-details-label-RB {
    margin: 0; 
    padding: 0;
  }
  
  /* allows for the cover image and captures tags and book info*/
.bookInfoContainer-RB {
    display: flex;
    align-items: center;
    margin-top: 30px;
}



.coverImageRd-RB img {
      width: 420px;
    height: 570px;
    margin: 20px 90px 140px;
}

.bookInfoStyle-RB {
    border: 1px solid #000;
    width: 580px;
    height: 620px;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 140px;
    border-radius: 20px;
}


.my-review-RB {
  margin-bottom: 4px;
  margin-top: 10px;
}


/* reviewButtons.css on Read books page */
.button-container-RB {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
  
}

.review-button-RB {
    margin: 0 10px; /* Adjust the spacing between buttons */
    border: none;
    width: 150px;
    height: 30px;
    font-size: 14.5px;
    border-radius: 15px; /* Rounded corners */
}


.action-packed-button-RB {
    background-color: #661c78; 
    color: white; /* Text color */
    border: none;
    
   
}

.cool-characters-button-RB {
    background-color: #9e4dab; 
    color: white; /* Text color */
    border: none;
   
}

.made-me-laugh-button-RB {
    background-color: #E35205;
    color: white; /* Text color */
    border: none;
   
}

/* Submit & Cancel buttons on Read Books page*/
.large-button-container-RB {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center;
    margin-top: 30px; /* Adjust the top margin as needed */
}

.submit-button-RB,
.cancel-button-RB {
    
    color: white; /* Text color */
    border: none;
    width: 150px;
    height: 40px; /* Adjust the height as needed */
    font-size: 16px; /* Adjust the font size as needed */
    margin: 0 10px; /* Adjust the spacing between buttons */
    border-radius: 10px; /* Add rounded edges */
    font-weight: bold;
}



/* Add a CSS class for the favorite button */
.favorite-button-RB {
    position: absolute;
    top: 20px; /* Adjust the vertical position */
    left: 1120px; /* Adjust the horizontal position */
    background-color: white;
    border: none;
    border-radius: 70%;
    width: 40px;
    height: 40px;
    line-height: 1;
    font-size: 32px;
    color: white;
    cursor: pointer;
    z-index: 1; /* Place the button above other content */
    display: flex; /* Center content horizontally and vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* clicked state of the favorite button */
.favorite-button-clicked-RB {
    color: red;
    background-color: white;
    border: none;
    text-shadow: none;
    font-size: 40px;
}

/* Read Book star rating */
.star-rating-RB {
    font-size: 24px;
  }
  
  .star-RB {
    display: inline-block;
    cursor: pointer;
    color: #ccc;
  }
  
  .star-RB.selected {
    color: #ffcc00; /* Color for selected stars */
  }
  